html {
    box-sizing: border-box;
    margin: 0 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    color: #313131;
    width: 1920px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

p {
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes rotateZ {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes fade {
    from { opacity: 0;}
    to { opacity: 1;}
}

/*--------Header--------*/

/*--------Main--------*/
.whole-menu {
    display: flex;
    align-items: center;
    margin: 100px 250px 100px 330px;
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: relative;
}

.background__layer {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.left__block {
    background-image: url(../img/left.png);
    width: 315px;
    height: 814px;
    left: 1%;
}

.left__block--active {
    left: -13%;
}

.main-block {
    background-image: url(../img/main.png);
    width: 1262px;
    height: 868px;
    z-index: 5;
}

.right__block {
    background-image: url(../img/right.png);
    width: 410px;
    height: 600px;
    left: 63%;
}

.center {
    height: 100%;
    top: 0%;
    position: absolute;
}

.navigation__block {
    width: 300px;
    height: 100%;
    /* margin-top: 75px;
    margin-left: 160px; */
    display: flex;
    align-items: center;
    position: relative;
    left: 30%;
    margin-left: 35px;
}

.navigation__item {
    padding: 20px;
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 60px;
    border-color: #8381D8;
}

.flower__button {
    height: 80px;
    width: 42px;
    left: -43%;
    top: 51%;
    position: absolute;
}

/*--------Footer--------*/